{% extends 'base.html' %}

{% block head_title %} Upload {% endblock %}

{% block body %}

<h2> Upload </h2>
<form method='post' enctype="multipart/form-data">
  {% csrf_token %}
  <input type='file' name='uploaded_file'>
  <button type="submit" onclick="loadInfo()">Upload file</button>
</form>
{% endblock %}


<!-- <p><a href="{% url 'home' %}">Return to home</a></p>
<script type='text/javascript'>
  function loadInfo() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "simple_upload/")
    xhttp.

  }

</script> -->
